.video-block-bar {
    position: fixed;
    /* top: 500px; */
    overflow: hidden;
    height: 100px;
    width: 100%;
    left: auto;
    z-index: 3;
    background-color: black;
  }
  
  .video {
    z-index: 1;
    position: fixed;
    top: 150px;
    left: 0;
    transform: translateY(-50px);
    
  }

  
  